
header {
    display : block;
    text-align: center;
    font-size: 2.0em;
}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td {
    /*border : 0;*/
    font : 12px/22px Verdana, sans-serif;
    /*margin : 0;
    outline : 0;
    padding : 0;*/
}

strong, b {
    font-weight: bold;
    font-size: 2.0em;
}

.garageControlBody {
    width: 100%;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleBar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Wrappers */
.garageManagement {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#garageControl {
    top: 20px;
    margin: 0 auto;
    position: relative;
}

.garageLocks {
    font-size: 1.4em;

}

/*#softlockInput {
    top: 100px;
    left: 320px;
    width: 100%;
    position: relative;
}*/




#light0Group {
    position: absolute;
    top: 0;
    left: 30px;
}

#door0Group {
    position: absolute;
    top: 0;
    left: 130px;
    width: 454px;
}

#light1Group {
    position: absolute;
    top: 0;
    left: 600px;
}

#door0Title {
    position: absolute;
    left: 180px;
}

/*#garageIcon {
    position: absolute;
    top: 40px;
    left: 270px;
    margin: 0 auto;
}*/

.vidcam {
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

    .vidcam .remoteCam {
        display: none;
    }

    .vidcam .localCam {
        display: block;
    }
