@{
    ViewBag.Title = "Home Page";
}




<div class="garageControlBody">

    <div class="garageManagement">
    
        <h1 class="titleBar">Garage Controller - <span id="garageName"></span></h1>

        <img id="garageIcon" class="centerImage" src="~/Images/garageicon.png" alt="theGarage" height="75" width="155" />
            <br/>
        <div class="garageLocks">
                
            <div class="titleBar">
                <span id="garageLockTitle">Garage Status:</span> <span id="garageLockStatus">Unlocked</span>
            </div>
            <div class="titleBar">
                <span id="hardlockTitle">Hard Lock:</span> <span id="hardlockStatus">Unlocked</span>
            </div>
        </div>
        <br/>
        <div id="softlockInput">
            <div id="softlock">
                <input id="softlockImage" class="centerImage" type="image" src="~/Images/unlocked.png" width="60" height="80" />
                <div class="titleBar"><span id="softlockTitle">Soft Lock</span> </div>
            </div>
        </div>
        <div id="garageControl">

            <div id="light0Group">
                <input id="light0" class="lights" type="image" src="~/Images/lightoff.png" width="83" height="95" /><br/>
                <span id="light0Title">Inside Lights</span> 
            </div>

            <div id="door0Group">
                <input id="door0" class="doors" type="image" src="~/Images/closed.png" width="454" height="368" />
                <div class="titleBar"><span>Garage Door</span> </div>
                
            </div>

            <div id="light1Group">
                <input id="light1" class="lights" type="image" src="~/Images/lightoff.png" width="83" height="95"  />
                <br/>
                <span>Outside Lights</span> 
            </div>
            @*<button id="#remoteLocal">Switch</button><input id="Button1" type="button" value="button" />*@
        </div>
        @*<div class="vidcam">
        
        <div class="remoteCam">
            <h3>Remote</h3>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="480" height="385">
                <param name="movie" value="http://67.175.113.36:86/nchplayer.swf?host=67.175.113.36:1935&scope=BroadCam&streamName=live&bandwidth=1&src=1&autostart=true&redirect=&textOnOver=">
                <param name="allowfullscreen" value="true">
                <param name="quality" value="high">
                <embed src="http://67.175.113.36:86/nchplayer.swf?host=67.175.113.36:1935&scope=BroadCam&streamName=live&bandwidth=1&src=1&autostart=true&redirect=&textOnOver=" width="480" height="385" allowfullscreen="true" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"/>
            </object>
        </div>
        <div class="localCam">
            <h3>Local</h3>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="480" height="385">
                <param name="movie" value="http://10.0.0.50:86/nchplayer.swf?host=10.0.0.50:1935&scope=BroadCam&streamName=live&bandwidth=1&src=1&autostart=true&redirect=&textOnOver=">
                <param name="allowfullscreen" value="true">
                <param name="quality" value="high">
                <embed src="http://10.0.0.50:86/nchplayer.swf?host=10.0.0.50:1935&scope=BroadCam&streamName=live&bandwidth=1&src=1&autostart=true&redirect=&textOnOver=" width="480" height="385" allowfullscreen="true" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"/>
            </object>
        </div>
        
        

    </div>*@
    </div>

</div>