<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5093849c-b29e-42c2-b2e3-4da016224eaa" Version="1.0.0.0" Publisher="CN=Clark" />
  <Properties>
    <DisplayName>TheGarage</DisplayName>
    <PublisherDisplayName>Clark</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="TheGarage" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="TheGarage" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#000000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>