<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <garageSetting>
    <add key="name" value="Garage1" />
    <add key="locked" value="true" />
    <add key="doors" value="1" />
  </garageSetting>
  <doorSetting>
    <add key="1" value="Fiero" />
  </doorSetting>
  <lightSetting>
    <add key="1" value="Indoor" initialSetting="off" />
    <add key="2" value="Outdoor" initialSetting="on" />
  </lightSetting>
</configuration>
