
header {
    display : block;
    text-align: center;
    font-size: 2.0em;
}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td {
    /*border : 0;*/
    font : 12px/22px Verdana, sans-serif;
    /*margin : 0;
    outline : 0;
    padding : 0;*/
}

strong, b {
    font-weight: bold;
    font-size: 2.0em;
}
/* HEADLINES */
/*H1, H3, H4, H5, H6 {
    color : #D21E70;
    font-weight : normal;
    margin : 0 0 15px 0;
    padding : 0 0 15px 0;
    text-align : center;
    }
    H1 {
        background : url(../images/hr.png) no-repeat 0 22px;
        font-size : 15px;
        padding : 0 0 10px 0;
        }
    H4, H5, H6 {
        background : url(../images/hr2.png) no-repeat 0 22px;
        font-size : 14px;
        margin : 0 0 10px 0;
        width : 250px;
        }*/


/* Wrappers */
#garageManagement {
    width: 700px;
    margin: 0 auto;
    position: relative;
}

#garageControl {
    top: 220px;
    margin: 0 auto;
    position: relative;
}

#garageLocks {
    font-size: 1.4em;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#softlockInput {
    top: 100px;
    left: 320px;
    width: 100%;
    position: relative;
}

#softlock {
    position: absolute;
    width: 50%;
    margin: 0 auto;
}

#hardlock {
    position: absolute;
    top: 50px;
    left: auto;
}

#garageLock {
    position: absolute;
    top: 20px;
}

#light0Group {
    position: absolute;
    top: 0;
    left: 30px;
}

#door0Group {
    position: absolute;
    top: 0;
    left: 130px;
    width: 545px;
}

#light1Group {
    position: absolute;
    top: 0;
    left: 600px;
}

#door0Title {
    position: absolute;
    left: 180px;
}

#garageIcon {
    position: absolute;
    top: 40px;
    left: 270px;
    margin: 0 auto;
}

