<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <garageSetting>
    <add key="name" value="Garage 1" />
    <add key="locked" value="false"/>
  </garageSetting>
  <doorSetting>
    <add key="0" value="Fiero"/>
  </doorSetting>
  <lightSetting>
    <add key="0" value="Indoor" initialSetting="off" />
    <add key="1" value="Outdoor" initialSetting="off" />
  </lightSetting>
</configuration>
